.text-container-about-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
    padding: 10px;
    font-weight: 200;
    margin-left: 55px;
    margin-top: 150px;
    width: 45vw;
    background-color: rgba(255, 187, 0, 0.5);
    /* border: 2px solid rgba(0, 0, 0, 0.5); */
    border-radius: 10px;
    color: white;
    font-family: "Atma", sans-serif;
    font-size: 28px;
}

.title-container-community {
    font-family: "Ultra", serif;
    color: white;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.85%;
    margin-bottom: -5%;
}

.dog-image-container {
    display: flex;
    margin-top: -640px;
    margin-left: 1000px;
    width: 700px;
    height: 600px;
    object-fit: cover;
}

.dog-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 71px -5px #e99400;
}

.dog-image:hover {
    box-shadow: 0px 5px 75px 12px #fdbd4e;
    color: white;
  }